{% extends "network/layout.html" %}

{% block center_panel %}
    <span>TODO</span>
 
<!--
    <div class='debug-window'>
        <p id="viewsize"></p>
    
        <script>
        var w = window.innerWidth;
        var h = window.innerHeight;
        
        var x = document.getElementById("viewsize");
        x.innerHTML = "Browser width: " + w + ", height: " + h + ".";
        </script>
    
        <div class='debug-msg'>
            {{error_message|safe}}
        </div>
    </div>
-->

<!-- Buttons at top One for ALl Posts and One for Following Posts-->


{% endblock %}

{% block additional %}
    <span>TODO</span>
{% endblock %}