{% load static%}


<div class="frontpage-grid">
        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/70.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Boss Hogg</h2>
            <p class="showcase_card__username">Sweeeet</p>
            <p class="showcase_card__description">Incantation</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/72.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Easy Rider</h2>
            <p class="showcase_card__username">Roadster</p>
            <p class="showcase_card__description">Hello</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/1.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Broadly Speaking</h2>
            <p class="showcase_card__username">Aussie Bob</p>
            <p class="showcase_card__description">Seahunt</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/2.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Motorol</h2>
            <p class="showcase_card__username">Susu</p>
            <p class="showcase_card__description">I got the Itches</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/3.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Emma Buk</h2>
            <p class="showcase_card__username">Winner</p>
            <p class="showcase_card__description">I got the moves</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/4.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Zoe</h2>
            <p class="showcase_card__username">Just Bee</p>
            <p class="showcase_card__description">BeeKind</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/70.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Aberdeen Angus</h2>
            <p class="showcase_card__username">Meltdown</p>
            <p class="showcase_card__description">Yup!</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/72.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Wake</h2>
            <p class="showcase_card__username">Bagpuss</p>
            <p class="showcase_card__description">Classical Gazz</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/10.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Too Fly</h2>
            <p class="showcase_card__username">Hartley</p>
            <p class="showcase_card__description">Throwdown</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/7.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Sheela</h2>
            <p class="showcase_card__username">FAFO</p>
            <p class="showcase_card__description">Comix in The Attick</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/13.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Mars Port</h2>
            <p class="showcase_card__username">ArtVoo</p>
            <p class="showcase_card__description">Happy</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/75.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Looda</h2>
            <p class="showcase_card__username">Summer Lands</p>
            <p class="showcase_card__description">LIme</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/10.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Universe</h2>
            <p class="showcase_card__username">Divine Source</p>
            <p class="showcase_card__description">Music Reverbs</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/82.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Bonham</h2>
            <p class="showcase_card__username">Got the Beats</p>
            <p class="showcase_card__description">Drumms</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/73.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Eddie</h2>
            <p class="showcase_card__username">Grafix</p>
            <p class="showcase_card__description">Ratstangras</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/9.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Bowfren</h2>
            <p class="showcase_card__username">Sounds</p>
            <p class="showcase_card__description">Natch</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/68.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Homer</h2>
            <p class="showcase_card__username">Dusty</p>
            <p class="showcase_card__description">Classical Gazz</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/16.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Penelope</h2>
            <p class="showcase_card__username">Plan B</p>
            <p class="showcase_card__description">Momday Morning</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/74.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Shine</h2>
            <p class="showcase_card__username">Bonnie</p>
            <p class="showcase_card__description">Gratch</p>
            </div>
        </div>

        <div class="showcase_card stacked">
            <img src="{% static 'network/images/front-page/11.jpg' %}" alt="" class="showcase_card__img">
            <div class="showcase_card__content">
            <h2 class="showcase_card__title">Making Stuff</h2>
            <p class="showcase_card__username">Firework</p>
            <p class="showcase_card__description">Hella</p>
            </div>
        </div>
</div>


